@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../media//background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    filter: contrast(120%);
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.leaves-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.leaf {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: falling 8s ease-in-out infinite;
}

.leaf:nth-child(1) {
    left: 5%;
    top: -5%;
    animation-delay: 0.5s;
}

.leaf:nth-child(2) {
    left: 25%;
    top: -10%;
    animation-delay: 2s;
}

.leaf:nth-child(3) {
    left: 45%;
    top: -15%;
    animation-delay: 3.5s;
}

.leaf:nth-child(4) {
    left: 65%;
    top: -20%;
    animation-delay: 1s;
}

.leaf:nth-child(5) {
    left: 85%;
    top: -25%;
    animation-delay: 2.5s;
}

.leaf:nth-child(6) {
    left: 95%;
    top: -15%;
    animation-delay: 2.5s;
}

.leaf:nth-child(7) {
    left: 55%;
    top: -15%;
    animation-delay: 1.5s;
}

.leaf:nth-child(8) {
    left: 20%;
    top: -15%;
    animation-delay: 1.0s;
}

@keyframes falling {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100vh);
    }
}

.dialogModal {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.dialogModal form {
    display: flex;
    flex-direction: column;
    background-color: #ccc5;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 1rem;
    gap: 1rem;
    width: 400px;
}

.dialogModal input {
    padding: 0.5rem;
    font-family: inherit;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    outline: none;
}

.dialogModal button {
    background-color: #FFA15F;
    font-family: inherit;
    height: 45px;
    padding: 10px 20px;
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.dialogModal button:hover {
    background-color: #45a049;
}

.chat-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.header {
    width: 100%;
    height: 7vh;
    background-color: #202c33;
}

.chat-messages {
    width: 100vw;
    height: 86vh;
    background-color: #111b21;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
}

.chat-messages-message {
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #202c33;
    word-wrap: break-word;
}

.container-input {
    width: 100%;
    background-color: #202c33;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}

.container-input input {
    width: 70%;
    border-radius: 5px;
    height: 100%;
    padding: 0.5rem 1rem;
    outline: none;
}

.container-input button {
    width: 5%;
    height: 100%;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #869192;
}

.container-input button:hover {
    cursor: pointer;
}

.chat-messages-message strong,
.chat-messages-message p {
    color: #fff;
}